<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lesliefang.nearbyservice">
    <!-- 允许程序使用蓝牙设备的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 允许程序发现和配对蓝牙设备权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 查看Wi-Fi网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 修改Wi-Fi网络状态权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 获取设备的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 获取设备的精确位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 读存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 写存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NearbyService">
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>